.checkoutContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.userDetail{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #7c7c7c;
    width: 50%;
    margin: 30px;
    height: 200px;
}
.productsDetail{
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
    margin: 30px;
    height: auto;
}
.productsDetail div{
    margin: 15px 0;
}
.productsDetail button{
    padding: 6px 15px;
  outline: none;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  background-color: #90a4ae;
  font-weight: bold;
}
.userDetail div p{
    margin-top: 15px;
}